<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body th:align="center">

    <form action="#" th:action="@{balance}" th:object="${currencyList}" method="get">

        <table>
            <thead>
                <p>Баланс</p>
            </thead>
            <tbody>
                <tr th:each="currency,currencyIndex : *{currencyList}">
                    <td th:text="${currencyIndex.count}">1</td>
                    <td id="column_name" th:text="#{currencyList.currencyName}">Currency Name</td>
                    <td id="column_value" th:text="#{currencyList.currencyValue}">Currency Value</td>
                    <td id="column_value" th:text="#{currencyList.currencyReserved}">Currency Reserved</td>
                </tr>
            </tbody>
        </table>

        <button id="refresh" type="submit">Refresh</button>
    </form>
</body>