<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body th:align="center">
<div>
    <h1>Login</h1>
</div>
<div>
    <form action="#" th:action="@{/login}" th:method="post" th:align="center">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Invalid username or password.
            </div>
        </div>
        <table>
            <tr>
                <td>Login:</td>
                <td><input type="text" th:name="username"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" th:name="password"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Log In</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>