<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body th:align="center">

    <form action="#" th:action="@{/user_menu}" th:object="${currencyPairList}" method="post">

        <div align="center" class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Pair index</th>
                    <th>Pair Name</th>
                    <th>Quantity</th>
                    <th>Size of corridor</th>
                    <th>
                        <button type="submit" name="addPair">Add Pair</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pair,pairStat : *{pairList}">
                    <td th:text="${pairStat.count}">1</td>
                    <td>
                        <input type="text" th:field="*{pairList[__${pairStat.index}__].pairName}"/>
                    </td>
                    <td>
                        <input type="number" step="0.001" th:field="*{pairList[__${pairStat.index}__].quantity}"/>
                    </td>
                    <td>
                        <input type="number" step="0.001" th:field="*{pairList[__${pairStat.index}__].sizeOfCorridor}"/>
                    </td>
                    <td>
                        <button type="submit" name="removePair" th:value="${pairStat.index}">Remove pair</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table>
            <tr>
                <td>
                    <input type="text" th:name="key">Input Key</input>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" th:name="secret">Input Secret</input>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" name="start">Start</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>